{% extends 'myapp/header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>	
</head>
<body>
{% if error %}
	<center><b>{{error}}</b></center>
{% endif %}
	<form name="login" method="post" action="{% url 'update_password' %}">
		{% csrf_token %}
		<table align="center">
			<tr>
				<td><input type="hidden" name="email" value="{{email}}"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" required="required"></td>
			</tr>
			
			<tr>
				<td>Confirm Password</td>
				<td><input type="password" name="cpassword" required="required"></td>
			</tr>
			
			<tr>
				<td colspan="2" align="center">
					<input type="submit" value="Update Password">
				</td>
			</tr>
		</table>
	</form>

{% endblock %}
</body>
</html>